extends layout

block content
  div#ajax-dialog(hidden).
    Fetching data from the server
  div#error-dialog(hidden).
    Error
  div#message-dialog(hidden)

  div#site-app
    h3 Sites
    div#site-controls
      .select-entity
        - if ('undefined' !== typeof(sites)) {
          - sites.forEach(function(site) {
            input(class='radio',type='radio',name='site',id=site._id,hidden) #{site.name}
            label(for=site._id) #{site.name}
            br
          - })
        - }
      button(class='add-button') Add site
      span(hidden,class='add-form')
        input(name='name',placeholder='Name')
        input(hidden,name='client',value="#{ user.client }")
        button(class='submit-add') Submit
        button(class='cancel-add') Cancel
    div#user-controls
    div#location-controls

  script(type='text/template',id='controls-template').
    <h3><%= entityType.charAt(0).toUpperCase() + entityType.slice(1) %>s</h3>
    <div class='select-entity'>
    </div>
    <button class='add-button'>Add <%= entityType %></button>
    <span hidden class='add-form'>
      <input name='name' placeholder='Name'></input>
        <button class='submit-add'>Submit</button>
        <button class='cancel-add'>Cancel</button>
    </span>

  script(type='text/javascript',src='/js/pages/site-app.js')